/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/cdk/overlay-prebuilt.css';

.bg-success-700 {
    --tw-bg-opacity: 1;
    background-color: rgb(129, 41, 95);
}

.hover\\:bg-success-700:hover {
    background-color: rgb(170, 88, 138);
}


